Django==2.1.5
django-markdownx==2.0.28
django-modelcluster==4.4
django-taggit==0.23.0
django-treebeard==4.3
djangorestframework==3.9.2
Markdown==3.0.1
MarkupSafe==1.1.1
Pillow==5.4.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psycopg2==2.7.6.1
ptyprocess==0.6.0
pytz==2018.9
virtualenv==16.3.0

